<div class="index-page">
  <div class="container d-flex">
    <div class="sidenav-party-index">
      <div class="container form_find_party">
        <h2>Techno events</h2>
        <div class="form-wrapper" style="width: 250px; margin: 0 auto;">
          <%= simple_form_for :search, method: "get", html: {class: "filter_form"}  do |f| %>
            <%= f.input :location, as: :string, required: true, placeholder: "Where?", label: false %>
            <%= f.input :start_date, as: :string, required: true, placeholder: "When?", input_html: {class: "datepicker"}, label: false %>
            <%= f.button :submit, "Find your party", class: "btn btn-secondary" %>
            <a href="/parties" class ="geolocation" ><i class="fas fa-map-marker-alt" id="location"></i></a>
          <% end %>
        </div>
      </div>
      <div class="container-li">
        <%= paginate @parties %>
      </div>
      </div>
    </div>
    <div class='container container-parties-index'>
      <% @parties.first(3).each do |party| %>
          <% party.artists.push(Artist.find_by name: "Unknown") if party.artists.empty?  %>
          <%= link_to party_path(party), class: "link-no-underline" do %>
            <%= render 'shared/profile_card', party: party, track: party.artists.first.track_url %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
