<%= render 'shared/party_banner', party: @party %>

<div id="track_ids" data-ids="<%= @track_ids.to_json() %>"></div>

<div class="container container-party-show">
  <h1 class ="mt-4 mb-4 ml-2"><%= @party.name %></h1>
  <div class="artists-lineup d-flex flex-row">
    <div><i class="far fa-user text-light"></i></div>
    <div class="artists-lineup-infos ml-3">
      <h2>
        <%= link_to @party.artists.first.name, artist_path(@party.artists.first), class: "link-without-style pointer" %>
        <% @party.artists.drop(1).each do |artist| %>
          <%= link_to " — #{artist.name}", artist_path(artist), class: "link-without-style" %>
        <% end %>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
  <div class="date-and-place mt-4">
    <i class="far fa-calendar-alt text-light"></i>
    <div class="date-and-place-infos">
      <h6><%= @party.start_date.strftime("%d %B %Y") %> at <%= @party.start_time %> — <%= @party.end_date.strftime("%d %B %Y") %> at <%= @party.end_time %></h6>
    </div>
  </div>
  <div class="date-and-place mt-3 mb-3">
    <i class="fas fa-map-marker text-light"></i>
    <div class="date-and-place-infos">
      <h6><%= @party.venue_name %></h6>
      <h6><%= @party.venue_location %></h6>
    </div>
  </div>
  </div>
  <div class="col-md-2 mt-2 mb-3">
  <div class="social-media-card p-3">
    <!-- Share button code -->
    <div class="fb-share-button "
      data-href="http://localhost:3000/parties/<%= @party.id %>"
      data-layout="button_count"
      data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share the event</a>
    </div>
  </div>
  </div>
  </div>
  <div class="soundcloud-player p-3 mt-2">
    <h2>Who's playing? </h2>
    <% if @party.artists.size <= 10 %>
      <div id="artist-images-grid" class="d-flex flex-row flex-wrap justify-content-around text-center">
        <% @party.artists.each do |artist| %>
          <% if artist.picture_url.nil? %>
            <%= render 'shared/artist_avatar', artist: artist, image: "ic_headset_48px.svg"%>
          <% else %>
            <%= render 'shared/artist_avatar', artist: artist, image: "https://www.residentadvisor.net#{artist.picture_url}" %>
          <% end %>
        <% end %>
      </div>
      <div id="soundcloud_player_show_few_artists" class="soundcloud_player_show mt-4">
      </div>
    <% else %>
      <select id="artist_selector" class="select2 select_artist" name="artist">
        <% @party.artists.each do |artist| %>
          <option value="<%= artist.name %>"><%= artist.name %></option>
        <% end %>
      </select>
      <div id="soundcloud_player_show_lot_artists" class="soundcloud_player_show mt-4">
      </div>
    <% end %>
  </div>
  <div class="map align-self-center justify-content-center mx-auto"  id="map" style="width: 95%; height: 300px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
