<div class="profile-page-container">
  <div class="sidenav-party-index">
    <i class="fas fa-bars text-light"></i>

    <ul class="sidenav-party-index-filters">
      <li id= "parties"> My parties </li>
      <li id="artists"> My artists </li>
      <li> <%= link_to 'Community', profile_path %> </li>
      <li> <%= link_to 'Settings', edit_user_registration_path %> </li>
    </ul>
  </div>

  <div class="container display-parties">
    <h1 class= "title-profile-show">My parties attended</h1>
    <% @user.parties.each_with_index do |party, index| %>
      <%= link_to party_path(party), class: "link-no-underline" do %>
        <%= render 'shared/profile_card', party: party, track: @track_ids[index] %>
      <% end %>
    <% end %>
  </div>

  <div class="container display-artists">
    <h1 class= "title-profile-show">My artists</h1>

    <% artistsList = [] %>
    <% @user.parties.each do |party| %>
      <% party.artists.each do |artist| %>
        <% artistsList << artist.name %>
      <% end %>
      <% artistsList.map{|i| i.downcase}.uniq %>
      <p> <%= artistsList %> </p>
    <% end %>
  </div>
</div>
