<h1>test</h1>

<div clas=container>
  <div class="table">
    <table class="users-summary text-light">
        <tr>
          <td><strong>User ID</strong></td>
          <td><strong>Gender</strong></td>
          <td><strong>Age</strong></td>
          <td><strong>Usage</strong></td>
          <td><strong>Preferences</strong></td>
          <td><strong>Cluster</strong></td>
        </tr>

      <% @users.all.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.gender %></td>
        <td><%= user.age %></td>
        <td><%= user.use %></td>
        <td><%= user.genres.map { |genre| genre.name } %></td>
      <% end %>
      </tr>
    </table>
  </div>

  <div class=model-performances>
    <%=  %>


  </div>
</div>

<%= console %>
