<div class="card">
  <h3 class="title"><%= party.name %></h3>
  <%= render 'shared/star_button'%>
  <div class="bar">
    <div class="emptybar"></div>
    <div class="filledbar"></div>
  </div>
  <div class="event-picture">
    <img src="https://www.residentadvisor.net<%= party.image_url %>" onerror="this.src='https://images.unsplash.com/photo-1513670144176-2211a82b531f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80';" alt="Missing Image" />
  </div>
  <ul class="infos">
    <li>
      <i class="far fa-user text-light"></i>
      <% party.artists.first(3).each do |artist| %>
        <%= artist.name %>
      <% end %>
    </li>
    <li><i class="far fa-calendar-alt text-light"></i><%= party.start_date %>  at  <%= party.start_time %></li>
    <li><i class="fab fa-houzz text-light"></i><%= party.venue_name %> - <%= party.venue_location %></li>
  </ul>
</div>
