<div class="card">
  <h3 class="title"><%= party.name %></h3>
  <%= render 'shared/star_button'%>
  <div class="bar">
    <div class="emptybar"></div>
    <div class="filledbar"></div>
  </div>
  <div class="event-picture">
    <img src="https://www.residentadvisor.net<%= party.image_url %>" alt="">
  </div>
  <ul class="infos">
    <li><i class="far fa-user text-light"></i><%= party.artists.first(3).each do |artist| p artist.name end %></li>
    <li><i class="far fa-calendar-alt text-light"></i><%= party.start_date %> - <%= party.start_time %></li>
    <li><i class="fab fa-houzz text-light"></i><%= party.venue_name %> - <%= party.venue_location %></li>
  </ul>
</div>
