<div class="party_card m-3">
  <h5 class="party_card_title"><%= party.name %></h5>
  <ul class="infos_party_card">
    <li><i class="far fa-calendar-alt text-light"></i><%= party.start_date %> - <%= party.start_time %></li>
    <li><i class="fab fa-houzz text-light"></i><%= party.venue_name %> - <%= party.venue_location %></li>
  </ul>
</div>
