<div class="party_card m-3 p-3">
  <h5 class="party_card_title"><%= party.name.truncate(25) %></h5>
  <div class="m-3">
    <i class="far fa-calendar-alt text-light mr-3"></i><%= party.start_date %> - <%= party.start_time %>
  </div>
  <div class="m-3">
    <i class="fab fa-houzz text-light"></i><%= party.venue_name %> - <%= party.venue_location.truncate(55) %>
  </div>
  </ul>
</div>
