
<div class="profile-card">

  <div class="profile-card-left">
    <h3 class="profile-card-title"><%= party.name.truncate(20) %></h3>
    <img src="https://images.unsplash.com/photo-1513670144176-2211a82b531f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" class="image" alt="Event Image">

  </div>

  <div class="profile-card-middle">
    <ul class="profile-card-infos">
      <li><i class="far fa-user text-light"></i><%= party.artists.map(&:name).join("/ ").truncate(40) %></li>
      <li><i class="far fa-calendar-alt text-light"></i><%= party.start_time %> - <%= party.end_time %></li>
      <li><i class="fab fa-houzz text-light"></i><%= party.venue_location %></li>
    </ul>
  </div>

  <div class="profile-card-right">
    <% @soundcloud.each do |soundcloud| %>
      <%= render 'shared/soundcloud_player', soundcloud_id: "#{soundcloud.sounds_ids.first}" %>
    <% end %>
  </div>

</div>
