<%= render 'shared/banner' %>
<% @soundclouds.each do |soundcloud| %>
  <% soundcloud.sounds_ids.each do |id| %>
    <%= render 'shared/soundcloud_player', soundcloud_id: "#{id}" %>
  <% end %>
<% end %>

<div class='home-cards'>
  <%= render 'shared/home_card' %>
  <%= render 'shared/home_card' %>
  <%= render 'shared/home_card' %>
</div>
