<%= render 'shared/banner' %>

<div class='home-cards'>
  <%= render 'shared/home_card' %>
  <%= render 'shared/home_card' %>
  <%= render 'shared/home_card' %>
  <%= render 'shared/home_card' %>
</div>
