<% if @non_existing_session %>
  <div class="alert-messages first-session-animation-show">
    <%= render 'shared/alert_for_audio_quizz' %>
    <%= render 'shared/alert_for_card_event' %>
    <%= render 'shared/alert_for_event_save' %>
  </div>
<% end %>

<%= render 'shared/banner' %>



<div class="container <%= "first-session-animation-hide" if @non_existing_session %>">
  <p class="home-description"></p>
  <div class='home-cards'>
    <% Party.last(3).each do |party| %>
      <%= link_to party_path(party), class: "link-without-style" do  %>
        <%= render 'shared/home_card', party: party%>
      <% end %>
    <% end %>
  </div>
</div>
