<div class="container audio-quizz">
  <div class='artist-names d-none'><%= artist_names = @artists.map { |artist| artist.name } %></div>
  <div class="quizz-row">
    <div class="indications">
      <h2>Listen to some artists</h2>
      <h4>We'll find you the right party, just for you.</h4>
    </div>
    <div id="stacked-cards-block" class="stackedcards stackedcards--animatable init">
      <div class="stackedcards-container">
        <% @tracks.each do |track| %>
          <div><%= render 'shared/audio_quizz_card', track: track, class: "card-item" %></div>
        <% end %>
      </div>
      <div class="stackedcards--animatable stackedcards-overlay top"></div>
      <div class="stackedcards--animatable stackedcards-overlay right"><i class="fas fa-star" id="star"></i></div>
      <div class="stackedcards--animatable stackedcards-overlay left"><i class="fas fa-times" id="ban"></i></div>

      <% if  @tracks.any?%>
        <div class="left-action"><%= render 'shared/remove_button' %></div>
        <div class="right-action"><%= render 'shared/audio_quizz_star_button.html' %></div>
      <% end %>
    </div>
  </div>
</div>

<% unless params[:location].present? %>
  <%= render 'shared/modal_location_quizz' %>
<% end %>
